<h2>Welcome to the WEBs community!</h2>
<p>
We are bound together by our commitment to the open internet.
WEBs are created when donations to open internet causes are
routed through our network. To donate and get your WEBs, send
BTC to <%=link_to "your personal purchase address", "btc:#{@address}" %>
(<%=@address%>)
</p>
<p>
We are looking forward to growing an awesome community that can use WEBs to honor
each other for their commitment
<p>
<p>Elizabeth Stark and Michael Sofaer</p>
