$main-color: #444;
$highlight-color: #0E0;
$action-color: #f9573d;
$subtle-color: #040;
$font-size: 16px;
$font: 'Asap';
$button-text-color: #fff;
$button-box-color: #e5001c;
$alternating-bg-color: #e6e6e6;
$blue: #49c9fb;

body {
  color: $main-color;
  font-family: $font;
  font-size: $font-size;
  box-shadow: 24px;
}

.hows {
  padding-top: 10px;
  padding-bottom: 30px;
}

.stats, .sign-up {
  width: 49.8%;
  display: inline-block;
}

.sign-up {
  .form-item {
    display: block;
    margin-left: 20%;
    margin-bottom: 20px;
    width: 60%;
    button {
      width: 60%;
    }
  }
  background-color: $alternating-bg-color;
}

header {
  text-align: center;
  .nav {
    text-align: left;
    line-height: 67px;
    div {
      text-align: center;
      display: inline-block;
      width: 100px;
      &.user {
        width: 400px;
        text-align: right;
        position: absolute;
        right: 35px;
      }
      &.login-form{
        position: fixed;
        right: 10px;
        top: 10px;
        text-align:right;
        width: 200px;
        input {
          height: 40px;
          width: 85%;
          margin-top: 3px;
          line-height: 16px;
          vertical-align: top;
        }
        div {
          display:block;
          height: 43px;
          width: 100%;
        }
      }
    }
  }
  p {
    margin: 0;
  }
  .form-group {
    margin: 0;
    width: 100%;
    span {
      margin-bottom: 5px
    }
    button {
      height: 45px;
      line-height: 20px;
      width: 105px;
    }
  }
  .home {
    margin-right: 200px;
  }
  .title {
    font-size: 44px;
    vertical-align: -10px;
    margin-right: 160px;
    a {
      color: $action-color;
    }
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
  img.logo {
    width: 70px;
    height: 70px;
    display: inline;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  a {
    color: $main-color;
    &:hover {
      text-decoration: none;
      color: $action-color
    }
  }
}

.subtle {
  color: $subtle-color;
}

li {
  list-style: none
}


a {
  cursor: pointer
}

footer {
  margin-top: 50px;
  margin-botton: 5px;
  color: $subtle-color;
  text-align: center
}

span.data{
  color: $highlight-color;
}

span.action{
  color: $action-color;
}

.error {
  color: #700000;
}

.grumpy {
  color: #602020;
}

input {
  padding: 14px 20px 14px 20px;
  width: 100%;
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  &:focus {
    color: #444;
    border: 1px solid #444;
    outline: none;
  }
}

button {
  padding: 14px 20px 14px 20px;
  color: $button-text-color;
  background: $action-color;
  box-shadow: 0px 4px 0px $button-box-color;
  border-radius: 15px;
  &:hover {
    font-style: underline;
  }
  &.auth {
    border: 2px solid #c6c6c6;
    color: #444;
    background: none;
    box-shadow: none;
    height: 50px;
    &:hover {
      background: #c6c6c6;
    }
  }
}

h1 {
  font-size: 32px;
  line-height: 40px;
  color: #FFF;
  background-color: $blue;
  padding: 46px 0;
  margin-top: 33px;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}
h3 {
  font-size: 18px;
  line-height: 26px;
}

li div {
  display: inline-block;
  width: 200px;
}

:disabled {
  color: grey;
}

.blahblah {
  width: 400px;
}

.project-list {
  td.logo, img.logo {
    width: 40px;
  }
}

.project-logo {
  width: 200px;
  height: 200px;
}



#main {
  text-align: center
}

.form-item {
  display: inline-block;
}

.projects-splash {
  background-color: $alternating-bg-color;
  li{
    display: inline-block;
    width: 200px;
  }
}

img.project{
  display: inline-block;
  height: 100px;
}

.how {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: left;
  }
}

.explore {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  p {
    display: inline-block;
    width: 250px;
    text-align: left;
  }
}

.buy {
  .currency, .quantity {
    border: 1px solid white;
    width: 180px;
  }
  div {
    &.input, &.process {
      display: block;
      label {
        width: 210px;
      }
      span.grumpy {
        position: absolute;
      }
      input {
        width: 300px;
      }
    }
    display: inline-flex
  }
}

.confirmation-reminder {
  color: red;
}

.projects li {
  cursor: pointer;
}

div.choice {
  padding: 5px 13px 5px 10px;
  input {
    display: none;
  }
  color: #46d98c;
  border: 2px solid #4cc47a;
  &:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  &:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &.active {
    color: #FFF;
    background: #46d98c;
  }
}

a.login-button {
  line-height: 0;
}

input[name="username"]{
  width: 50%;
}
