$main-color: #090;
$highlight-color: #0E0;
$action-color: #09C;
$subtle-color: #040;
$font-size: 16px;

body {
  background: black;
  color: $main-color;
  font-family: monospace;
  font-size: $font-size;
}

.subtle {
  color: $subtle-color;
}

li {
  list-style: none
}


a {
  cursor: pointer
}

footer {
  margin-top: 50px;
  margin-botton: 5px;
  color: $subtle-color;
  text-align: center
}

span.data{
  color: $highlight-color;
}

span.action{
  color: $action-color;
}

.error {
  color: #700000;
}

.grumpy {
  color: #602020;
}

input {
  background-color: #333;
  border: none;
}

label:after {
  content: " =\00A0";
}

button, select, select:active {
  background-color: black;
  height: 20px;
  vertical-align: bottom;
  border: none;
  background-color: #444;
}

button {
  &:hover {
    background-color: #333;
    font-style: underline;
  }
  &:before {
    content: ">";
  }
  &:after {
    content: "<";
  }
  &:hover:before {
    content: "#";
  }
  &:hover:after {
    content: "#";
  }
}
h2 {
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  // &:before {
    // content: "\2192\2192";
  // }
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  margin-left: -40px;
  div {
    text-align: center;
    display: inline-block;
    width: 80px;
    &.user, &.logout-button {
      width: 250px;
      text-align: left;
    }
  }
  p {
    margin: 0;
  }
  .form-group {
    margin: 0;
    width: 100%;
    span {
      margin-bottom: 5px
    }
    button {
      text-align: left;
    }
  }
}

li div {
  display: inline-block;
  width: 200px;
}

:disabled {
  color: grey;
}

.blahblah {
  width: 400px;
}

.project-list {
  td.logo, img.logo {
    width: 40px;
  }
}

.project-logo {
  width: 200px;
  height: 200px;
}

div.login{
  float: right;
  position: fixed;
  right: 28px;
  top: 35px;
  text-align:right;
  input {
    margin-top: 3px;
  }
}

#main {
  text-align: center
}

img.splash {
  display: block;
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.form-item {
  display: inline-block;
}

.projects-splash li{
  display: inline-block;
  width: 200px;
}

img.project{
  display: inline-block;
  height: 100px;
}

.how {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: left;
  }
}

.explore {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  p {
    display: inline-block;
    width: 250px;
    text-align: left;
  }
}

.buy {
  .currency, .quantity {
    border: 1px solid white;
  }
  div {
    &.process {
      display: block
    }
    display: inline-block
  }
}
