$main-color: #090;
$highlight-color: #0E0;
$action-color: #09C;
$font-size: 16px;

body {
  background: black;
  color: $main-color;
  font-family: monospace;
  margin-left: 50px;
  font-size: $font-size;
}

a {
  cursor: pointer
}

footer {
  margin-top: 50px;
  margin-botton: 5px;
  color: #040;
}

span.data{
  color: $highlight-color;
}

span.action{
  color: $action-color;
}

.grumpy {
  color: #602020;
}

input {
  background-color: #333;
  border: none;
}

label:after {
  content: " =\00A0";
}

button, select, select:active {
  background-color: black;
  height: 20px;
  vertical-align: bottom;
  border: none;
  background-color: #444;
}

button {
  &:hover {
    background-color: #333;
    font-style: underline;
  }
  &:before {
    content: ">";
  }
  &:after {
    content: "<";
  }
  &:hover:before {
    content: "#";
  }
  &:hover:after {
    content: "#";
  }
}
h2 {
  margin-left: -30px;
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  margin-left: -30px;
  // &:before {
    // content: "\2192\2192";
  // }
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  margin-left: -40px;
  div {
    text-align: center;
    display: inline-block;
    width: 80px;
    &.user, &.logout-button {
      width: 250px;
      text-align: left;
    }
  }
  p {
    margin: 0;
  }
  .form-group {
    margin: 0;
    width: 100%;
    span {
      margin-bottom: 5px
    }
    button {
      text-align: left;
    }
  }
}

li div {
  display: inline-block;
  width: 200px;
}

:disabled {
  color: grey;
}

.blahblah {
  width: 400px;
}
